@media only screen and (max-width: 1200px) {
    .main {
        &_container {
            max-width: calc(100% - 110px);
        }
    }
    
    .header {

        &_top {
            justify-content: space-between;
        }

        .nav {
            width: 100%;
            &_link {

                width: 100%;
                justify-content: space-between;
            }
        }

        &_bottom {
            margin-top: 25px;
            display: flex;
        }

        .dektop_menu {
            display: none;
        }
    }
}

@media only screen and (max-width: 993px) {
    .main {
        &_container {
            max-width: calc(100% - 40px);
        }
    }
}

@media only screen and (max-width: 768px) {
    .main {
        &_container {
            max-width: calc(100% - 20px);
        }
    }

    .header {

        .main_container {
            padding: 10px 5px 20px 5px;
        }

        &_logo {
            max-width: 70px;
        }

        &_user_img {
            img {
                width: 75px;
            }
        }

        .header_user_name {
            max-width: 140px;
        }

        .user_bottom {
            width: 96px;
        }

        .nav {
            width: 100%;
            &_link {
                overflow-x: scroll;
                width: 770px;
                justify-content: space-between;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

    .login {
        .main_container {
            padding-top: 40px;
            gap: 40px;
        }

        label {
            width: 100%;
        }

        input {
            width: 100%;
        }

        p {
            text-align: center;
        }

        .btn_yellow {
            width: 100%;
        }
    }
}