@media only screen and (max-width: 1200px) {
    .main {
        &_container {
            max-width: calc(100% - 110px);
        }

        &_content {
            padding: 20px 11px;
        }
    }
    
    .header {

        &_top {
            justify-content: space-between;
        }

        .nav {
            width: 100%;
            &_link {

                width: 100%;
                justify-content: space-between;
            }
        }

        &_bottom {
            margin-top: 25px;
            display: flex;
        }

        .dektop_menu {
            display: none;
        }
    }

    .news {
        &_card {
            width: calc(100% / 2 - 7px);
        }

        &_cards {
            gap: 14px;
        }
    }

    .new {
        &_block {
            flex-direction: column;
            gap: 30px;

            .new_block_img {
                width: 100%;
                height: 429px;
            }

            h6,
            p,
            li {
                max-width: 100%;
            }
        }

        &_block_yellow {
            flex-direction: column-reverse;

            .new_block_img {
                height: 266px;
                @include flex-full-center;
            }
        }
    }

    .academy_cards {
        .academy_card {
            width: calc(100% / 2 - 5px);
        }
    }

    .events {
        &_blocks {
            flex-direction: column-reverse;
        }

        &_img {
            max-width: 100%;
        }

        &_text {
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    }

    .venture_deals_block {
        flex-direction: column-reverse;

        &_result {
            width: 100%;
            gap: 15px;

            .venture_btns {
                margin-top: 14px;

                .btn_white,
                .btn_yellow {
                    width: 300px;
                    flex: none;
                }
            }
        }

        &_text {
            max-width: 100%;
        }
    }

    .venture_trading {
        &_cards {
            gap: 10px;
        }

        &_card {
            width: calc(100% / 3 - 7px);
        }
    }

    .node_block {
        .venture_trading_card {
            width: calc(100% / 2 - 5px);
        }

        &_img {
            height: 417px;
            object-fit: cover;
        }
    }

    .node_block {
        .main_content {
            padding: 10px 20px;
        }

        &_in {
            gap: 10px;
        }
    }

    .event {
        &_in {
            gap: 40px;
        }

        .event_tarif {
            &_card {
                width: calc(100% / 3 - 7px);
            }
        }
    }
}

@media only screen and (max-width: 993px) {
    .main {
        &_container {
            max-width: calc(100% - 40px);
        }
    }

    .pagination {
        a {
            flex-shrink: 0;
        }
    }

    .links_btns {
        max-width: 100%;
        margin: 10px 0;
        flex-direction: column;

        .btn_white,
        .btn_black,
        .btn_yellow {
            flex: none;
            height: 50px;
            width: 260px;
        }
    }

    .title_top {
        align-items: start !important;
        margin: 10px 0;
    }

    .news {
        &_card {
            width: calc(100%);

            span {
                top: 15px;
                right: 9px;
            }
        }
    }

    .new {

        .main_content {
            gap: 14px;
        }

        &_main_block {
            padding: 15px 30px 30px 30px;
        }

        &_logo {
            margin: 60px 0;
        }

        &_block {
            .new_block_img {
                height: 229px;
            }
        }

        &_block_yellow {
            .new_block_img {
                height: 172px;
                padding: 11px;
            }

            button {
                width: 100%;
            }
        }

        &_social {
            justify-content: center;
        }

        &_btns {
            flex-direction: column;

            button {
                width: 100%;
            }
        }
    }

    .promo {
        &_cards {
            flex-direction: column;
        }

        &_card {
            width: 100%;
        }
    }

    .academy_cards {
        .academy_card {
            width: calc(100%);
        }
    }

    .events {

        &_text {
            .events_btns {
                width: 100%;
                flex-direction: column;

                .btn_yellow,
                .btn_white {
                    width: 100%;
                }
            }
        }

        &_item {
            width: calc(100%);

            a {
                padding: 15px;
                justify-content: space-between;
            }
        }
    }

    .venture_deals_block {
        &_result {
            .venture_btns {
                flex-direction: column;

                .btn_white,
                .btn_yellow {
                    width: 100%;
                }
            }
        }
    }

    .venture_trading {
        &_cards {
            gap: 10px;
        }

        &_title {
            flex-direction: column;
            align-items: start !important;
            gap: 10px;

            .btn_yellow {
                width: 100%;
            }
        }

        .links_btns {
            max-width: 100%;

            .btn_white,
            .btn_yellow {
                width: 100%;
            }
        }

        &_card {
            width: calc(100%);
        }
    }

    .node_cards {
        .links_btns {
            padding: 18px 35px;
            .btn_black,
            .btn_white {
                width: 100%;
            }
        }

        .main_content_top {
            margin-bottom: 10px;
        }

        .node_card_title {
            flex-direction: column;
            gap: 18px;
            text-align: center;

            .btn_white {
                width: 100%;
            }
        }

        .node_cards_block {
            gap: 20px;

            .venture_trading_card {
                width: calc(100%);
            }
        }
    }

    .node_trading {
        &_card {
            width: calc(100%);
        }

        .main_content_bottom {
            flex-direction: column;
            text-align: center;
        }
    }

    .event {
        &_in {
            gap: 10px;
        }

        .bay_ticket {
            flex-direction: column;
            align-items: start;
            gap: 20px;
            padding: 20px 10px;

            .btn_yellow {
                width: 100%;
            }
        }

        &_text {
            padding: 0 10px;
        }

        .event_slider_title {
            padding: 0 10px;
        }
    
        .event_tarif {
            &_card {
                width: calc(100%);
                gap: 40px;
            }
        }
    }

    .faq_block {
        .faq_title {
            padding: 50px 15px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .main {
        &_container {
            max-width: calc(100% - 20px);
        }
    }

    .header {

        .main_container {
            padding: 10px 5px 20px 5px;
        }

        &_logo {
            max-width: 70px;
        }

        &_user_img {
            img {
                width: 75px;
            }
        }

        .header_user_name {
            max-width: 140px;
        }

        .user_bottom {
            width: 96px;
        }

        .nav {
            width: 100%;
            &_link {
                overflow-x: scroll;
                width: 770px;
                justify-content: space-between;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

    .login {
        .main_container {
            padding-top: 40px;
            gap: 40px;
        }

        label {
            width: 100%;
        }

        input {
            width: 100%;
        }

        p {
            text-align: center;
        }

        .btn_yellow {
            width: 100%;
        }
    }
}